.card {
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  .card-title {
    font-weight: 700;
    text-align: center;
  }
  .badge {
    margin-right: 1rem;
    border-radius: unset;
  }
  .card-img-top {
    min-height: 19.4rem;
  }
}
