@import '../../../../styles/_breakpoints.scss';

.card-container {
  width: 25%;
}

.ngx-pagination {
  padding-left: 0;
  text-align: center;
}

@media (max-width: $sm) {
  .card-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
}
