@import '../../../../styles/_breakpoints.scss';

.form-container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  .form-title {
    color: #292a2b;
    margin-bottom: 4rem;
  }
  .sign-up {
    color: #1976d2;
    cursor: pointer;
    margin: 1rem 0;
    text-decoration: underline;
  }
}

.toast {
  background-color: #d2aba3;
  max-width: unset;
  font-size: 1.2rem;
}

@media (max-width: $sm) {
  .form-container {
    width: 80%;
  }
}
