<form
  class="form-container"
  [formGroup]="logInForm"
  (submit)="logIn()">
  <h1 class="form-title">
    Log In
  </h1>
  <ngb-toast *ngIf="showToast" (hide)="!showToast">
    Wrong credentials
  </ngb-toast>
  <div
    class="form-group"
    [ngClass]="{'has-error': logInForm.get('name').invalid}">
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      [formControl]="logInForm.get('name')">
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': logInForm.get('email').invalid}">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      [formControl]="logInForm.get('email')">
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': logInForm.get('password').invalid}">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      [formControl]="logInForm.get('password')">
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="logInForm.invalid">
    Submit
  </button>
  <div
    class="sign-up"
    (click)="goToSignUp()">
    Sign up
  </div>
</form>
