.form-container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  .form-title {
    color: #292a2b;
    margin-bottom: 4rem;
  }
  .log-in {
    color: #1976d2;
    cursor: pointer;
    margin: 1rem 0;
    text-decoration: underline;
  }
}

.toast {
  background-color: #b3d2b3;
  max-width: unset;
  font-size: 1.2rem;
}
